.footer.row
  .container
    .title
      .name Get in touch!
      .description#bottom!= "<span class='parens'>(</span> <a href='mailto:michael.alexander.benson@gmail.net'>michael.alexander.benson@gmail.com</a> <span class='parens'>)</span>"
