.header.row
  .container
    .title
      .name Hi, I'm Michael.
      .description!= "<span class='parens'>(</span> A freelance web and full-stack developer <span class='parens'>)</span>"
      %hr
    %ul.menu
      .li
        %a.active{href: "/"} Home
      .li
        %a{href: "/"} Work
      .li
        %a{href: "/"} About
