.home.row
  .logo
    =image_tag("chrysler.svg")
  .container
    .text-container
      .text
        I'm a Brooklyn-based full-stack developer. I design and build responsive websites with a focus on great user-experience, SEO, and page speed.
    .specialties-container
      .specialty
        .title Web Development
        .description Each website is built on a solid code foundation based on current web standards and best SEO practices.
      .specialty
        .title Web Development
        .description Each website is built on a solid code foundation based on current web standards and best SEO practices.
      .specialty
        .title Web Development
        .description Each website is built on a solid code foundation based on current web standards and best SEO practices.
