.home.row
  .logo
    =image_tag("chrysler.svg")
  .container
    .text-container
      .text
        I'm a Brooklyn-based full-stack developer. I design and build responsive websites with a focus on great user-experience, SEO, and loading speed.
    .specialties-container
      .specialty
        .title Web Development and design
        .description Each website is built on a solid code foundation. If you have a design, I can translate it to a living site. If not, I can design it myself or recommend one of the great designers I work with.
      .specialty
        .title Marketing
        .description SEO best practices, the latest standards for lead generation, and improved load times that will decrease your bounce rate. Integrations with social, payment, and email marketing platforms come standard
      .specialty
        .title Full-Stack and Back-End
        .description Data hygiene, fully customized KPI dashboards, internal operations systems, or just figuring out why your site isn't getting the data it needs.
