.small.row
  .logo
    =image_tag("office.svg")
  .container
    .small-header
      Run a small business? <a href="mailto:michael.alexander.benson@gmail.com">Email</a> me for free recommendations.
    .text-container
      .text
        Are you a small business owner who needs a site refresh? Or maybe your site isn't performing as well as you would like. I'll spend an hour going through it and talk you through my recommendations completely free. If I see problems or possible improvements I'll walk you through them and you can decide if you'd like my help with the implementation.
