- content_for :title do
  Michael Benson | Freelance Developer NYC
- content_for :description do
  ViaHero connects travelers with local trip planners for custom itineraries to Cuba, Colombia, and Japan.
- content_for :header do
  <meta property="og:image" content="https://www.viahero.com/assets/index/splash-wide-10c9c9dad002e1c84ef6166c9e24c5ca5d221b9930cc6069b26ba162f2d35c57.jpg"/>
.work.row
  .container
    .item
      .screen
        =image_tag("home.png")
