*
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


body
  font-family: "Open Sans", sans-serif
  color: #4c4f4d
  font-weight: 300
  a
    text-decoration: none
    color: #4c4f4d
  a.active
    color: $home-pink
  .pink
    color: $home-pink
