body, html
  margin: 0
  padding: 0
  max-width: 100%
html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%


.container
  max-width: 940px
  margin: 0 auto
  padding: 0 20%
.row
  max-width: 100%
