.header
  text-align: center
  background-color: #F7F7F7
  padding-top: 40px
  padding-bottom: 40px
  .parens
    color: $primary
    font-size: 35px
    position: relative
    top: 4px
  .container
    max-width: 500px
  .name
    font-size: 27px
  .description
    font-size: 19px
    margin-top: 10px
    padding-bottom: 35px
  .menu
    display: flex
    flex-direction: row
    justify-content: space-between
    max-width: 300px
    margin: 0 auto
    a
      font-weight: 400
